# Extract keywords from product descriptions by using NLP TECHINQUE

In [21]:
import numpy as np
import pandas as pd

In [22]:
data = pd.read_csv(r"C:\Users\Rohit\OneDrive\Desktop\Project\.Capgemini Dataset..csv")
data

,Title,Place,Job_type,Department,Date,Overall_rating,work_life_balance,skill_development,salary_and_benefits,job_security,career_growth,work_satisfaction,Likes,Dislikes
0,Senior Consultant,Pune,Full Time,General Insurance Department,08-Sep-23,4,4,3,3,4,4,4,Deserved candidates are promoted promptly.\nUn...,With designation promotions good salary increm...
1,Senior Software Engineer,"Kolkata, West Bengal",Full Time,Software Development Department,07-Sep-23,3,4,4,3,4,4,3,You got lot of learning platform and monthly l...,You will get fully not tech project.\nThere is...
2,Senior Consultant,"Bengaluru/Bangalore, Karnataka",Full Time,Software Development Department,06-Sep-23,4,4,5,3,3,4,3,Based on which Business Unit you are you will ...,Some top level management people bring bad nam...
3,Senior Consultant,"Pune, Maharashtra",Full Time,Banking Operations Department,06-Sep-23,1,2,4,1,4,1,1,Some client projects are good as they use the ...,"Culture, micro management, unprofessional beha..."
4,Team Lead,"Noida, Uttar Pradesh",Full Time,IT Infrastructure Services Department,05-Sep-23,4,5,4,4,4,4,3,"I have worked in IBM (4 years) ,TCS (1 year) ,...",Medical insurance amount is quite low compare ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23032,Hr Executive,Bangalore,NaN,Recruitment & Talent Acquisition Department,01-Feb-18,4,4,4,4,4,4,3,HR Policy.,I like opportunities I am getting in order to ...
23033,Senior Director,NaN,NaN,IT Security Department,05-Sep-17,4,1,1,1,1,1,1,"no stretched pressures on margins, which makes...",very bureaucratic
23034,Senior Consultant,NaN,NaN,Technology / IT Department,03-Sep-17,4,5,1,1,4,2,1,capgemini quality resource hiring is missing.H...,good
23035,System Engineer,NaN,NaN,IT Network Department,07-Sep-17,4,3,3,2,3,1,1,Very good employee engagement activities.,Career growth opportunity is less
23036,Hr Generalist,Kolkata,NaN,HR Operations Department,06-Sep-17,4,4,3,3,4,4,2,The company is open to innovation and readily ...,No

In [67]:
import pandas as pd

# Assuming 'likes' and 'Dislike' are two columns in your original dataframe 'data'

# Create a DataFrame by concatenating the 'likes' and 'Dislike' columns
df = pd.DataFrame(data['Likes'] + data['Dislikes'])

# Choose a random sample of 20 rows from the DataFrame without replacement
data1 = df.sample(n=10, replace=False)

# Convert the sampled data to a DataFrame (optional, as data1 is already a DataFrame)
data2 = pd.DataFrame(data1)

# Print the random sample
print(data2)

                                                       0
22193                          NothingPolicy is not good
8947   This Organization Conduct good learning sessio...
4547   Salary on time.\nMNC Work culture\nWork life b...
3700   Good to work under this companyi didn't face a...
508    As a fresher it is good companyFor experienced...
6697        CultureAppraisal\nWork culture\nJob security
11109  Salary appraisalNA. There is nothing which I d...
4061   Nothing I like.No job security here plus bad e...
20427  Good work place and they follow the ethicsEmpl...
2226   Job security and work life balancePoor hikes, ...

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=10)  # Adjust the number of features as needed

# Fit and transform your product descriptions
tfidf_matrix = tfidf_vectorizer.fit_transform(data2[0])

# Get the feature names (keywords)
keywords = tfidf_vectorizer.get_feature_names_out()
keywords

array(['good', 'is', 'job', 'life', 'like', 'no', 'not', 'salary',
       'security', 'work'], dtype=object)

In [69]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Load your Myntra fashion dataset into a Pandas DataFrame
# Assuming the product descriptions are in a column named 'description'

# Preprocess the text
product_descriptions = data2[0].apply(lambda x: x.lower())

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=10)  # Adjust the number of features as needed

# Fit and transform your product descriptions
tfidf_matrix = tfidf_vectorizer.fit_transform(product_descriptions)


# Get the feature names (keywords)
keywords = tfidf_vectorizer.get_feature_names_out()

# Sum the TF-IDF scores for each term across all product descriptions
tfidf_scores = tfidf_matrix.sum(axis=0)
print("TfIdf_Scores:", tfidf_scores)

# Sort the terms based on their TF-IDF scores
sorted_keywords = [keywords[i] for i in tfidf_scores.argsort()[0, ::-1]]

# Select the top N keywords
top_keywords = sorted_keywords[:20]
    
# Display or save the keywords
print("Top_Keywords:", top_keywords)

TfIdf_Scores: [[3.26048079 1.82245488 1.53675358 0.89385032 1.13352255 1.03664078
  1.07395755 1.38012489 1.53675358 3.27680235]]
Top_Keywords: [array([['work', 'good', 'is', 'security', 'job', 'salary', 'like', 'not',
        'no', 'life']], dtype=object)]

In [71]:
import pandas as pd

# TF-IDF scores and top keywords
TfIdf_Scores = [[3.26048079, 1.82245488, 1.53675358, 0.89385032, 1.13352255, 1.03664078,
  1.07395755, 1.38012489, 1.53675358, 3.27680235]]
Top_Keywords = [['work', 'good', 'is', 'security', 'job', 'salary', 'like', 'not',
        'no', 'life']]

# Create a DataFrame
keyword_df = pd.DataFrame({'Description': data2[0],
                           'Keywords': Top_Keywords[0],
                           'TfIdf_Scores': TfIdf_Scores[0]})
keyword_df.index.name = 'Rank'

# Print the DataFrame
print(keyword_df)

                                             Description  Keywords  \
Rank
22193                          NothingPolicy is not good      work
8947   This Organization Conduct good learning sessio...      good
4547   Salary on time.\nMNC Work culture\nWork life b...        is
3700   Good to work under this companyi didn't face a...  security
508    As a fresher it is good companyFor experienced...       job
6697        CultureAppraisal\nWork culture\nJob security    salary
11109  Salary appraisalNA. There is nothing which I d...      like
4061   Nothing I like.No job security here plus bad e...       not
20427  Good work place and they follow the ethicsEmpl...        no
2226   Job security and work life balancePoor hikes, ...      life

       TfIdf_Scores
Rank
22193      3.260481
8947       1.822455
4547       1.536754
3700       0.893850
508        1.133523
6697       1.036641
11109      1.073958
4061       1.380125
20427      1.536754
2226       3.276802